alias ll='eza -la'
alias la='eza -la'
alias cat='bat'
alias k='kubectl'
alias kgp='kubectl get pods'
alias kgs='kubectl get svc'
alias kctx='kubectx'
alias kns='kubens'
alias tf='terraform'
alias dc='docker compose'
alias g='git'
alias gs='git status'
alias gl='git log --oneline --graph --decorate'

